<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Welcome to MyWebSite.com</title>
 </head>
 <body>
 <h1>MyLogo</h1>

 <hr>
 <nav>
     <a href="/">Home</a>|
     <a href="/about">About</a>|
     <a href="/login">Login</a>|
 </nav>
 <hr>

 <h1>New User Registration</h1>

 <form action="/addnewuser" method="post">
     <br>
     User Name : <input type="text" name="uname" />
     <br>
     <br>
     Password  : <input type="password" name="pw1" />
     <br>
     <br>
     Re Enter Password  : <input type="password" name="pw2" />
     <br>
     <br>
     Email  : <input type="email" name="email" />
     <br>
     <br>

                 <input type="submit" value="Create Account" />
     <br>
     <br>
 </form>

 <a href="/login">Already Have Account? Click Here To Login.</a>

 </body>
 </html>