{% extends 'my_template.html' %}


{% block myblock1 %}

<div style="background:white; opacity:0.75;">
    <h1>What we do:</h1>
    <pre ><h2>
We help individuals as well as organizations of all types and sizes prepare for the path ahead — wherever it leads.
Our curated collection of business and technical courses help companies, governments, and nonprofits go further by
placing learning at the center of their strategies.
    </h2></pre>
<h1 >What we provide :</h1>
<pre><h2>Choose from over 17,200 courses and Learning Paths, dozens added each week.
Learn at your own pace, with lifetime access on mobile and desktop.
Choose courses taught by real-world experts.
</h2></pre>

</div>

{% endblock %}
