{%extends "my_template.html"%}


{% block myblock1 %}

<h1>New User Registration</h1>

<form action="/addnewuser" method="post">
    <br>
    User Name : <input type="text" name="uname" required />
    <br>
    <br>
    Password  : <input type="password" name="pw1" required/>
    <br>
    <br>
    Re Enter Password  : <input type="password" name="pw2" required/>
    <br>
    <br>
    Email  : <input type="email" name="email" required/>
    <br>
    <br>

                <input type="submit" value="Create Account" />
    <br>
    <br>
</form>

<a href="/login">Already Have Account? Click Here To Login.</a>
{% endblock %}